@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center homeWrapper" >
    <h1 class="display-1">Welcome</h1>
    <p class="h2">to our bookstore</p>
    <p>Check out our books!</p>
    <a asp-controller="Books" asp-action="Index" class="btn btn-light">Books</a>
</div>

